@model BankProcess
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <br />
        <label>Customer's Name:</label>
        <input type="text" class="form-control" asp-for="CustomerName" />
        <br />
        <label>Amount to be withdrawn:</label>
        <input type="text" class="form-control" asp-for="CustomerName" />
        <br />
        <button class="btn btn-outline-warning">Request a Withdrawal</button>
    </form>
</div>

